@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Inside Outside';
    src: url('../fonts/InsideOutside.ttf');
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inside Outside', cursive;
    text-align: center;
    text-transform: lowercase;
}
header, main {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid grey;
    background-color: rgb(110, 184, 185);
    color: white;
}
input {
    font-size: 1em;
}
input[type=text] {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 3px dashed grey;
    padding: 10px;
    margin: 5px;

}
.game-board {
    display: grid;
    background-color: white;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    height: 100vh;
    width: 100vh;
}
.game-button, .start-button {
    min-height: 100px;
    text-align: center;
    cursor: pointer;
}
.top-left {
    background-image: url('../images/ufopinkstill.gif');
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 -5vh -5vh 0;
}
.top-right {
    background-image: url('../images/ufobluestill.gif');
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 0 0 -5vh -5vh;
}
.bottom-left {
    background-image: url('../images/ufogreenstill.gif');
    grid-column-start: 1;
    grid-row-start: 3;
    margin: -5vh -5vh 0 0;
}
.bottom-right {
    background-image: url('../images/uforangestill.gif');
    grid-column-start: 3;
    grid-row-start: 3;
    margin: -5vh 0 0 -5vh;
}
.top-left.flash {
    background-image: url('../images/ufopinkmotion.gif');
}
.top-right.flash {
    background-image: url('../images/ufobluemotion.gif');
}
.bottom-left.flash {
    background-image: url('../images/ufogreenmotion.gif');
}
.bottom-right.flash {
    background-image: url('../images/uforangemotion.gif');
}
.start-button {
    background-color: white;
    background-image: url('../images/startcircle.gif');
    font-family: 'Inside Outside', cursive;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin: -5vh;
    padding: 25% 10%;
    z-index: 1;
    grid-column-start: 2;
    grid-row-start: 2;
}
.start-button, .game-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 184, 185, 0.5);
}
.modal-inner {
    background: white url('../images/littlealien.gif') no-repeat right top;
    background-size: 70px auto;
    border: 3px solid grey;
    margin: 10% auto;
    padding: 15px;
    width: 50%;
}
.button-container {
    text-align: center;
    margin: 10px;
}
.score-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-evenly;
}
.player-name {
    text-align: center;
}
.warning-text {
    color: rgb(110, 184, 185);
}
.fade {
    animation: fading 400ms;
}
.hidden {
    display: none;
}

@keyframes fading {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}